.navbar {
    background-color: #0a325d;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand .nav-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .home-link {
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .home-link:hover {
    color: #0becec;
    transform: scale(1.1);
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar-links .nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links .nav-link:hover {
    color: #ffdd57;
  }